- content_for :breadcrumb do
  %ul.breadcrumb
    %li.active Projects

%table.table.projects-table
  %thead
    %th Name
    %th Time to Due Date
    %th Progress
  %tbody
    - @projects.each do |project|
      = content_tag_for(:tr, project) do
        %td.name
          = link_to edit_project_path(project) do
            = project.basecamp_project_name
        %td.due_date
          - if project.due_date.present?
            -#Due
              = project.due_date.to_date.to_s(:long_ordinal)
              (
              )
            = distance_of_time_in_words_to_now(project.due_date, :include_seconds => false).capitalize
        %td.progress_meter
          - if project.hours_budgeted > 0
            .progress{:class => "progress-#{project.status}"}
              .bar{:style => "width: #{project.percent_spent}%"}
            .hours
              = project.hours_spent
              of
              = project.hours_budgeted
              hours

%hr
= link_to 'Start Tracking a Project', new_project_path, :class => 'btn btn-success'
= button_to 'Measure Progress', measure_projects_path, :class => 'btn'
