= link_to 'Edit Basecamp', edit_basecamp_key_path

-#%pre
  = @todo_items.inspect
  %hr

.timesheet
  %table.table
    %thead
      -#%tr
        %th(colspan="7")
          .filters
            %form.form-inline
              %ul.nav.nav-pills
                %li#filter_date.filter.date
                  .btn-group
                    %input(type="text" placeholder="Date")
                %li#filter_person.filter.person.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")
                    Person
                    %span.caret
                  %ul.dropdown-menu
                    %li <a href="#">01A - Accounts General</a>
                    %li <a href="#">01B - Accounts Payable</a>
                    %li <a href="#">01C - Accounts Receivable</a>
                    - @people.each do |id, person|
                      %li
                        = link_to [person.first_name, person.last_name].join(' '), '#'
                %li#filter_project.filter.project.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")
                    Project
                    %span.caret
                  %ul.dropdown-menu
                    - @projects.each do |id, project|
                      %li
                        = link_to project.name, '#'
                %li#filter_job.filter.job.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")
                    Job
                    %span.caret
                  %ul.dropdown-menu
                    %li <a href="#">01A - Accounts General</a>
                    %li <a href="#">01B - Accounts Payable</a>
                    %li <a href="#">01C - Accounts Receivable</a>

      %tr
        %th Date
        %th Person
        %th Project
        %th Job
        %th Hours
        %th Description
        %th

    - @time_entries.each do |date, time_entries|
      %tbody
        - total_hours = time_entries.map(&:hours).sum
        - time_entries.each do |time_entry|
          = content_tag_for(:tr, time_entry, :data => {'time-entry-id' => time_entry.id}) do
            %td.date
              %a(href="#")= time_entry.date
            %td.person
              %a(href="#")= time_entry.person_name
            %td.project{:data => {'project-id' => time_entry.project_id}}
              %a(href="#")= @projects_index[time_entry.project_id]['name']
            %td.job_code
              = link_to content_tag(:span, '', :class => :loading), '#', :data => {'todo-item-url' => project_todo_item_path(time_entry.project_id, time_entry.todo_item_id)}
            %td.hours
              %a(href="#")= time_entry.hours
            %td.notes
              %a(href="#")= time_entry.description
            %td.actions
              = link_to 'Edit', edit_time_entry_path(time_entry), :class => 'edit_time_entry_link', :data => {'time-entry-id' => time_entry.id}
              %span.loading(style="display:none")
          = content_tag_for(:tr, time_entry, 'edit', :style => 'display:none', :data => {'time-entry-id' => time_entry.id}) do
            %td(colspan="7")
              = form_for(time_entry, :url => time_entry_path(time_entry), :method => :put, :remote => true) do |f|
                %span.field.date= f.text_field :date, :placeholder => 'Date'
                %span.field.person_id= f.select :person_id, options_for_select(@people.map{|person| [person['name'], person['id']]}, :selected => time_entry.person_id)
                %span.field.project_name= f.select :project_id, options_for_select(@projects.map{|project| [project['name'], project['id']] }, :selected => time_entry.project_id)
                %span.field.job_code= f.text_field :job_code, :placeholder => 'Job', :data => {'todo-item-url' => project_todo_item_path(time_entry.project_id, time_entry.todo_item_id)}
                %span.field.hours= f.text_field :hours, :placeholder => 'Hours'
                %span.field.description= f.text_field :description, :placeholder => 'Description'
                %span.actions= f.submit 'Save', :class => 'btn'

      %tbody.totals
        %tr
          %td(colspan="4")
            .date
              =date
          %td(colspan="3")
            .hours
              =total_hours
    %tbody.new_time_entry
      %tr
        %td(colspan="7")
          = form_for @time_entry do |f|
            = f.text_field :date, :placeholder => 'Date'
            = f.select :person_id, options_for_select(@people.map{|person| [person['name'], person['id'].to_i]}, :selected => @me['id'])
            = f.select :project_id, options_for_select(@projects.map{|project| [project['name'], project['id'].to_i] }, :selected => session[:project_id])
            = f.text_field :job_code, :placeholder => 'Job'
            = f.text_field :hours, :placeholder => 'Hours'
            = f.text_field :description, :placeholder => 'Description'
            = f.submit 'Create', :class => 'btn btn-primary'
  %footer
