= link_to 'Edit Basecamp', edit_basecamp_key_path

-#%pre
  = @todo_items.inspect
  %hr

.timesheet
  %table.table
    %thead
      -#%tr
        %th(colspan="7")
          .filters
            %form.form-inline
              %ul.nav.nav-pills
                %li#filter_date.filter.date
                  .btn-group
                    %input(type="text" placeholder="Date")
                %li#filter_person.filter.person.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")
                    Person
                    %span.caret
                  %ul.dropdown-menu
                    %li <a href="#">01A - Accounts General</a>
                    %li <a href="#">01B - Accounts Payable</a>
                    %li <a href="#">01C - Accounts Receivable</a>
                    - @people.each do |id, person|
                      %li
                        = link_to [person.first_name, person.last_name].join(' '), '#'
                %li#filter_project.filter.project.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")
                    Project
                    %span.caret
                  %ul.dropdown-menu
                    - @projects.each do |id, project|
                      %li
                        = link_to project.name, '#'
                %li#filter_job.filter.job.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" href="#")
                    Job
                    %span.caret
                  %ul.dropdown-menu
                    %li <a href="#">01A - Accounts General</a>
                    %li <a href="#">01B - Accounts Payable</a>
                    %li <a href="#">01C - Accounts Receivable</a>

      %tr
        %th Date
        %th Person
        %th Project
        %th Job
        %th Hours
        %th Description
        %th

    %tbody
      - @time_entries.each do |date, time_entries|
        - total_hours = time_entries.map(&:hours).sum
        - time_entries.each do |time_entry|
          = content_tag_for(:tr, time_entry) do
            %td.date
              %a(href="#")= time_entry.date
            %td.person
              %a(href="#")= time_entry.person_name
            %td.project
              %a(href="#")= time_entry.project_id
            %td.job
              %a(href="#")= time_entry.todo_item_id
            %td.hours
              %a(href="#")= time_entry.hours
            %td.notes
              %a(href="#")= time_entry.description
            %td.actions
              %button.btn Edit
        %tbody.totals
          %tr
            %td(colspan="4")
              .date
                =date
            %td(colspan="3")
              .hours
                =total_hours
  %footer
