<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
</head>
<body>

<div class="basecamp_key_link">
  <%= link_to 'Set Basecamp API Key', edit_basecamp_key_path %>
</div>

<%= yield %>

</body>
</html>
